<!DOCTYPE html>
html(lang="es-ES")
    head
        title= title
    body
        h1 Inscribir atleta
        form(action="/api/atleta/delete" method="post")
            input(type="text" name="id" placeholder="Id del atleta" required)
            br   
            input(type="submit")
