extends layout

block login
    form(id="login" action="/signin" method="post")
        input(type="text", name="email", value="", placeholder="Tu email")
        br
        input(type="password", name="password", value="", placeholder="Tu contraseña")
        br
        input(type="submit" value="Conectar")
    //- script.
    //-     const formLogin = document.querySelector('#login')
    //-     const formData = new FormData(formLogin)

    //-     formLogin.addEventListener('submit', event => {
    //-         event.preventDefault();
    //-         fetch('/signin', {
    //-             method: 'POST',
    //-             body: formData
    //-         })
    //-         .then(res => res.json())
    //-         .then(data => {
    //-             localStorage.setItem('token', data.token)
    //-         })
    //-     })