<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <title></title>
  </head>
  <body>       
    <h1>Añadir Participante </h1>
    <form action="/api/club/" method="post">       
      <input type="text" name="codigo" id="clave" placeholder="Código del club" required="required"/><br/>
      <input type="text" name="nombre" placeholder="Nombre del Participante" required="required"/><br/>
      <input type="text" name="cinturon" placeholder="Cinturón" required="required"/><br/>
      <input type="text" name="edad" placeholder="Edad" required="required"/><br/>
      <input type="text" name="discapacidad" placeholder="Tipo de Discapacidad" required="required"/><br/>
      <input type="submit" value="Crear Club"/>
    </form>
  </body>
</html>