
.icon-mail:before { content: '\e800'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-down-open-big:before { content: '\e806'; } /* '' */
.icon-left-open-big:before { content: '\e807'; } /* '' */
.icon-right-open-big:before { content: '\e808'; } /* '' */
.icon-up-open-big:before { content: '\e809'; } /* '' */
.icon-cog-alt:before { content: '\e80b'; } /* '' */
.icon-heart:before { content: '\e80c'; } /* '' */
.icon-heart-1:before { content: '\e80d'; } /* '' */
.icon-heart-filled:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-thumbs-up:before { content: '\e811'; } /* '' */
.icon-thumbs-down:before { content: '\e812'; } /* '' */
.icon-location:before { content: '\e815'; } /* '' */
.icon-direction:before { content: '\e816'; } /* '' */
.icon-users:before { content: '\e817'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */