$google-color : #d34836;
$facebook-color : #3b5998;
$twitter-color : #00aced;

.spinner {
    margin: 1em;
    text-align: center;
    width: 100%; 
}

.login-button {
    border: none;
    border-radius: .5em;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    margin: 1em;
    padding: .4em;
    transition: background .4s;
    &:hover {
        background: white;
        cursor: pointer
    }
}

.google {
    background-color: $google-color;
    &:hover {
        color: $google-color;
        border: 1px solid $google-color;
  }
}
.facebook {
    background-color: $facebook-color;
    &:hover {
        color: $facebook-color;
        border: 1px solid $facebook-color;
  }
}
.twitter {
    background-color: $twitter-color;
    &:hover {
        color: $twitter-color;
        border: 1px solid $twitter-color;
  }
}

.user-in {
    padding: .8em;
    p {
        font-size: .8em;
    }
}

.input-file {
    font-size: .7em;
}
.input-text {
    //border: none;
    background: none;
}

.atleta {
    &__item{
        position: relative;
        padding: 0;

        &:hover {
            /*content: "X";
             background: white; 
            position: absolute;
            width: 32px;
            height: 32px;
            top: 10px;
            right: 0;  */
              
        }

        &:after {
            /*content: "X";
            background: white;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 10px;
            right: 0;*/
        }
    }
    &__title {
        color: red;
        margin: 0;
    }
    &__desc p {
        
    }
}

p.atleta__desc {
    color: #444;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
}

h2.selected {
    color: green
}