$google-color: #d34836;
$facebook-color: #3b5998;
$twitter-color: #00aced;
$color1: #FC0D0D ;//#EAAC00;
$color2: #FC98B0; //#fef3db;
$color3: #F64A5A; //#221D48;
$color4: #79C5F6; //#FFFFFF;
$color5: #f9f9f9; //#FFFFFF;
$color6: #444;

.spinner {
  margin: 1em;
  text-align: center;
  width: 100%;
}

.login-button {
  border: 0;
  border-radius: .5em;
  box-sizing: border-box;
  color: $color5;
  display: block;
  font-size: 1.2em;
  margin: 1em;
  padding: .4em;
  transition: background .4s;&:hover {
    background: $color5;
    cursor: pointer;
  }
}

.google {
  background-color: $google-color;&:hover {
    border: 1px solid $google-color;
    color: $google-color;
  }
}.facebook {
  background-color: $facebook-color;&:hover {
    border: 1px solid $facebook-color;
    color: $facebook-color;
  }
}.twitter {
  background-color: $twitter-color;&:hover {
    border: 1px solid $twitter-color;
    color: $twitter-color;
  }
}

.user-in {
  padding: .8em;p {
    font-size: .8em;
  }
}

.input-file {
  font-size: .7em;
}.input-text {
  //border: none;
  background: none;
}

.atleta {
  &__item {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: .5em;
    padding-left: .5em;
    position: relative;&:hover {
      //content: "X";
      background: $color5;
      //position: absolute;
      //width: 32px;
      //height: 32px;
      //top: 10px;
      //right: 0;        
    }
  }&__title {
    color: $color1;
    font-size: 1.5em;
    margin: 0;
  }
}

p.atleta__desc {
  color: $color6;
  font-size: .8em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.selected {
  color: green;
  /*background: #ccc;
  line-height: 1.6em;*/
}

.user-options-dropdown {
  background: $color5;
}

.club-container, .atleta-container {
  background: #fff;
  color: #080;
  width: 100%;
}


.filtro-clases {
  width: 90%;
  margin: 10px auto;
}